body {
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
}

.chat-container {
	font-size:14px;
	height:600px;
	max-height:600px;
}

.chat-row {
	height:600px;
	max-height:600px;
}

.chat-span {
	overflow: hidden;
	overflow-y:auto;
	height:600px;
	max-height:600px;
}

.send-input {
	width:81%;
}

.user-list {
	height:600px;
	overflow-y:auto;
}

.big {
	/* font-size: 16px; 
	line-height: 20px; */
	color:#66cdaa;
}

.important {
	color:#1e90ff;
	font-weight: bold;
}