div(class='container-fluid chat-container',ng-controller='ChatController')
  div(class='row-fluid chat-row')
    div(class='span10 chat-span',id='#chat')
      div(class='chat-container')
        div(ng-repeat='chunk in chat',class='chat-msg-row',scroll-if='$last')
          div(ng-switch on='chunk.type')
            div(ng-switch-when='msg')
              b(ng-show='highlight == chunk.from',class='big') {{ chunk.from }}:
              b(ng-show='highlight != chunk.from') {{ chunk.from }}:
              
              span(ng-show='chunk.content.charAt(0) == "»"',class='important') {{ chunk.content|specialText }}
              span(ng-show='chunk.content.charAt(0) != "»"') {{ chunk.content }}
            div(ng-switch-when='join')
              b(class='user-join') {{ chunk.user }} joined the channel
            div(ng-switch-when='part')
              b(class='user-part') {{ chunk.user }} left the channel

    div(class='span2')
      div(ng-repeat='user in users')
        div
         b(ng-mouseover='userMouseOver($event)',ng-mouseout='userMouseOut($event)') {{ user }}
  

  form(name='chatForm',ng-submit='sendMsg()')
    input(name='msg',ng-model='msg',placeholder='Write something here',required,ng-minlength=1,class='send-input') 
    input(name='submit',value='send',type='submit',ng-disabled='!chatForm.$valid',class='btn btn-success')