div(class='offset3')
  label Please pick your username
    form(name='usernameForm',ng-submit="setUsername()")
      input(type='text',style='height:auto;margin-bottom:0px',name='userName',ng-model='username',ng-minlength=3,ng-maxlength=15,required) 
      input(type='submit',name='submit',value='Pick',ng-disabled='!usernameForm.$valid',class='btn btn-success')
      br
      span(class='error',ng-show='usernameForm.userName.$error.minlength') Too short!
      span(class='error',ng-show='usernameForm.userName.$error.maxlength') Too long!
      span(class='error',ng-show='usernameForm.userName.$error.required') Required!
      span(class='error',ng-show='error.length > 0') {{ error }}
      br