html(ng-app='Stats')
  head
    meta(charset='utf-8')
    title Stats
    style(type='text/css')
      svg path {
        stroke: black;
        stroke-width: 1;
        fill: none;
      }

      svg text {
        stroke black;
        opacity: 0.5;
      }

      svg line {
        stroke: black;
      }

      svg {
        border: 1px solid green;
        border-radius: 12px;
        padding: 12px;
        margin: auto;
      }
  body
    div(ng-controller='StatsController')
      h2 {{ stats.load }}
      div
        strong Memory: &nbsp;
        span {{ stats.memory.used / 1024 | round }} MB /&nbsp;
        span {{ stats.memory.total / 1024 | round }} MB &nbsp;
        span ({{ stats.memory.free / 1024 | round }} MB free)
      div
        strong Bandwidth: &nbsp;
        span {{ stats.network.tx / 1024 | round }} kb/s (out) /&nbsp;
        span {{ stats.network.rx / 1024 | round }} kb/s (in)
      p
      div
        strong Connections: &nbsp;
        span {{ stats.network.c.total }} <br />
        span(ng-repeat='client in stats.network.c.clients')
          div
            strong Host: &nbsp;
            span {{ client.host }} &nbsp;
            strong Connections: &nbsp;
            span {{ client.count }}


    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='stats/static/js/app.js')