html(ng-app='Stats')
  head
    meta(charset='utf-8')
    title Stats

    link(rel='stylesheet',href='stats/static/css/style.css',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fjalla+One',rel='stylesheet',type='text/css')
  body
    div(ng-controller='StatsController')
      div(class='content-wrapper')
        div(class='content-main')
          h2 {{ stats.load }}%
          div
            strong Memory: &nbsp;
            span {{ stats.memory.used / 1024 | round }} MB /&nbsp;
            span {{ stats.memory.total / 1024 | round }} MB &nbsp;
            span ({{ stats.memory.free / 1024 | round }} MB free)
          div
            strong Bandwidth: &nbsp;
            span {{ stats.network.tx / 1024 | round }} kb/s (out) /&nbsp;
            span {{ stats.network.rx / 1024 | round }} kb/s (in)
          div(class='connections')
            strong Connections: &nbsp;
            span(class='green') {{ stats.network.c.total }} <br />
            div(class='hosts')
              span(ng-repeat='client in stats.network.c.clients')
                div
                  strong Host: &nbsp;
                  span {{ client.host }} &nbsp;
                  strong Connections: &nbsp;
                  span {{ client.count }}

        div(class='content-side')
          div(class='cpu')
            p CPU
            div(class='meter-cpu')
          div(class='ram')
            p Memory
            div(class='meter-ram')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='stats/static/js/app.js')
    script(src='stats/static/js/resource-meter.js')