body {
  font-family: 'Fjalla One', sans-serif;
  color:#232323;
  font-size:30px;
  background-color: #efefef;
  text-shadow: 2px 2px #fff;
}

p {
  padding: 0;
  margin: 0;
  color: #33342d;
}

.content-wrapper {
  width: 960px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content-main {
  width: 820;
  height: 100px;
  float: left;
}

.content-main .connections {
  font-size: 45px;
  margin-top: 80px;
}

.hosts {
  font-size:32px; 
  margin-top:40px;
}

.green {
  font-size: 45px;
  color: #8cc74b;
}

.content-side {
  width:140px;
  float:right;
  margin-top:30px;
}

.content-side p {
  font-size: 45px;
  text-align: center;
  color: #33342d;
  margin: 0px;
}

.progress-meter .background {
  fill: #33342d;
}

.progress-meter .foreground {
  fill: #8cc74b;
}

.ram-progress-meter .background {
  fill: #33342d;
}

.ram-progress-meter .foreground {
  fill: #8cc74b;
}